# Node modules
node_modules/

# TypeScript build output
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore migrated files
src/migrated_files/

# Ignore all keys file
allKeys.json

# Ignore macOS system files
.DS_Store

# Ignore npm package lock file (optional)
package-lock.json

# Ignore IDE and editor config files
.idea/
.vscode/
*.swp

# Ignore compiled TypeScript files
*.js
*.d.ts
.tolgee-migrator
